@model RK_LAB1.Models.Student
@{Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration Form</title>
    <link rel="stylesheet" href="/css/StyleSheet.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>


<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>CREATE AN ACCOUNT</h4></div>
        <div class="panel-body">
            <form class="p-a-1" asp-action="StudentForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="firstName">User Name:</label>
                    <input class="form-control" asp-for="firstName" />
                </div>
                <div class="form-group">
                    <label asp-for="lastName">Email:</label>
                    <input class="form-control" asp-for="lastName" />
                </div>

                <div class="form-group">
                    <label asp-for="lastName">Password:</label>
                    <input class="form-control" asp-for="lastName" />
                </div>

                <div class="form-group">
                    <label asp-for="lastName">Confirm Password:</label>
                    <input class="form-control" asp-for="lastName" />
                </div>

           
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
