@model RK_LAB1.Models.User

@{ 
    Layout = "_Layout";
}

    <div>
        <form asp-controller="Jobs" asp-action="Index">
            <p>
                Title: <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>