
@{

}

    <div class="text-center">

        <img src="~/images/pgo.png" style="position:center;width:40%;height:20%;" />
        <br />

        <a class="btn btn-primary" asp-action="LogIn">LOGIN</a>
     

    </div>


