
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">

        <h1 style="color:blue; background-color: aliceblue;border-style: dashed">WELCOME!!!! </h1>

        <h2 style="background-color: lightgoldenrodyellow;">Customer Business Relationship</h2>

        <a class="btn btn-primary" asp-action="StudentForm">LOGIN</a>
     

    </div>

</body>

</html>

<!--•@{ Layout = null;}, this expression is a Razor code, which will be interpreted
 by a Razor view engine.
•RazorviewEngine(moreincomingclasses):processthecontentsofviewsandgenerates and HTML -->
